* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(85deg, #5f049c, rgb(141, 3, 146));
    font-family: 'Oswald', sans-serif;
}
.container__ {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}
h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
}
.container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    margin-top: 10px;
  }
  .logo {
    width: 100%;
    height: 60px;
    max-width: 1024px;
    background:  url(logo.png) center no-repeat;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .menu a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
    margin-left: 20px;
    transition: .5s
  }
  .menu a:hover {
  color: #000;
  }
  .about {
    height: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
  }
  .about a {
    display: flex;
    align-items: center;
  }
  .text__footer {
    text-align: center;
    color: silver;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 200;
  }